@media screen and (max-width: 768px) {

	*{
		border: 0;
		outline: 0;

	}

	body{
		width: 100% !important;
	}
	
	table{
		width: 100%;
	}

	td{
		display: block;
		height: auto;
	}

	td div a{
		display: block;
		/*float: left;*/
		width: 100%;
		height: auto;
	}

	td div a img{
		display: block;
		/*width: 100%;*/
		height: auto;
	}

	#Image8{
		width: 280px !important;
		margin-right: -20px;
	}

	#Image9{
		width: 522px !important;
		margin-left: -20px;
	}

	#Image10{
		width: 473px !important;
		margin-left: -27px;
	}

	#Image11{
		width: 273px !important;
		margin-left: -20px;
	}

	#Image12{
		width: 280px !important;
		margin-left: -20px;
	}

	#Image13{
		width: 335px !important;
		margin-left: -60px;
	}

	table>tbody>tr>td>table>tbody>tr>td{
		width: 100%;
		margin-bottom: 25px;
	}

	table>tbody>tr>td>table>tbody>tr>td>img{
		width: 50%;
		height: auto;
	}

	#Image14{
		width: 400px;
		height: auto;
		    margin-right: 205px;
	}

	#Image4{
		width: 112px;
		height: auto;
		margin-right: 20px;
	}

	td{
		font-size: 30px !important;
	}

	table>tbody>tr>td>table>tbody>tr:nth-child(2)>td:nth-child(1)>div>img:nth-child(2){
		width: 230%;
		height: auto;
	}

	table>tbody>tr>td>table>tbody>tr:nth-child(2)>td{
		overflow-x: hidden;
	}

	table>tbody>tr>td>table>tbody>tr:nth-child(3)>td:nth-child(1)>img{
		width: 100%;
		height: auto;
	}

	table>tbody>tr>td>table>tbody>tr:nth-child(1)>td:nth-child(1)>img:nth-child(2){
		    margin: 0 auto;
    display: block;
	}

}