/* STANDARD CORPORATE STYLE SHEET FOR P&M TECHNOLOGIES */
/* For New P&M Web Site */

/* Padding & margin definition sequence is TOP, RIGHT, BOTTOM, LEFT */
/* Image map area definition sequence (for rectangle) is LEFT, TOP, RIGHT, BOTTOM  */



/*  DEFINE THE MAIN STRUCTURE FOR ALL PAGES */

/* Establish background image (and similar colour while image loads) */
body  { background-color: #283d2d;  background-image: URL(EdgeBkgnd_DkGrn.jpg);  text-align: center; }

/* Entire page is a table */
table.PageDef		{ width: 760px;  table-layout: fixed;  background: #E9F3EB;  border: 1px solid BLACK; 
										font: normal bold 11px Arial;  color: BLACK; }
td.PageDef				{ width: 725px;  padding: 15px 15px 15px 15px; }



/* SPECIFIC UNIVERSAL CONTROLS */
.center			{ text-align: center; }												/* For center-justified alignment (tables, etc) */
.right				{ text-align: right; }													/* For right-justified alignment (tables, etc) */
.left				{ text-align: left; }													/* For left-justified alignment (tables, etc) */
.middle		{ vertical-align: middle; }									/* For center-justified vertical alignments */
.nowrap		{ white-space: nowrap; }										/* Prevent line breaks at spaces */
.bold				{ font-weight: bold; }												/* Highlight with bold text */
.italic				{ font-style: italic; }												/* Highlight with italic text */
.bolditalic	{ font-style: italic;  font-weight: bold; }			/* Highlight with bold italic text */


/* MASTHEAD DEFINITIONS */
/* Corporate & Personal Banners */
table.masthead						{ width: 705px;  margin-top: -10px; }
td.masthead								{ width: 705px;  height: 169px;  font-size: 11px;  text-align: center; }
td.mastheadGM						{ width: 705px;  height: 136px;  font-size: 11px;  text-align: center; }
td.mastheadDP						{ width: 705px;  height: 136px;  font-size: 11px;  text-align: center; }
img.masthead_main			{ width: 700px;  height: 169px;  border: 0px;  margin: 0px 0px -7px 0px; }	/* Corporate banner */
img.masthead_mainGM		{ width: 700px;  height: 136px;  border: 0px;  margin: 0px 0px -5px 0px; }	/* Personal banners are smaller */
img.masthead_mainDP		{ width: 700px;  height: 136px;  border: 0px;  margin: 0px 0px -5px 0px; }	/* Personal banners are smaller */

/* Company Address Block */  /* Not in use at the moment */
td.address			{ border: none;  vertical-align: middle;  padding: 0px;
								  font-family: Arial, Helvetica, sans-serif;  font-size: 11px;  font-weight: normal;  font-style: normal;
								  color: BLACK;  text-decoration: none;  text-align: right;  white-space: nowrap; }
.AddressGap		{ font-family: Arial, Helvetica, sans-serif;  font-size: 7px; }


/* PHOTO BANNER DEFINITIONS */
table.photobanner					{ width: 675px; }			/* Width 675 includes padding AND white-space in web page text */
td.photobanner						{ border-style: none;  text-align: center;  vertical-align: top;  padding: 0px;  font-size: 11px;  white-space: nowrap; 
															text-indent: 1px }
td.home_photobanner			{ border-style: none;  text-align: left;       vertical-align: top;  padding: 0px;  font-size: 11px;  white-space: normal; }

img.photobanner					{ width: 100px;  height: 75px;   border: 2px solid BLACK;  text-align: center;
															vertical-align: top;  margin: 4px 3px 20px 2px;  white-space: nowrap; }
img.home_photobanner		{ width: 240px;  height: 160px;  border: 2px solid BLACK;  text-align: center;
															vertical-align: top;  margin: 4px 15px 0px 2px;  white-space: nowrap;  padding: 0px; }


/* TEXT FORMATS */
.PageTitle			{ font-family: Arial, Helvetica, sans-serif;  font-style: italic;     font-weight: bold;      font-size: 24px;  color: NAVY;  text-align: center; }
.TitleText			{ font-family: Arial, Helvetica, sans-serif;  font-style: italic;     font-weight: normal;  font-size: 20px;  color: NAVY;  text-align: left; }
.SubtitleText		{ font-family: Arial, Helvetica, sans-serif;  font-style: italic;     font-weight: normal;  font-size: 16px;  color: NAVY; }
.TitleGap				{ font-family: Arial, Helvetica, sans-serif;  font-size: 8px; }
.BodyText			{ font-family: Arial, Helvetica, sans-serif;  font-style: normal;  font-weight: normal;  font-size: 15px;  color: BLACK;  text-align: left; }
.BoxText				{ font-family: Arial, Helvetica, sans-serif;  font-style: italic;     font-weight: bold;       font-size: 13px;  color: #808040;
											padding: 15px;  text-align: center; }
.BodyLink			{ font-family: Arial, Helvetica, sans-serif;  font-style: italic;     font-weight: bold;       font-size: 12px; }
.Details				{ font-family: Arial, Helvetica, sans-serif;  font-style: normal; font-weight: bold;       font-size: 10px; }
.BodyBold			{ font-weight: bold;  color: #408080; }
.ContactText		{ font-family: Arial, Helvetica, sans-serif;  font-style: normal;  font-weight: bold;       font-size: 15px;  color: BLACK; }
.ContactName	{ font-family: Arial, Helvetica, sans-serif;  font-style: normal;  font-weight: bold;       font-size: 24px;  color: BLACK; }
.ContactSub		{ font-family: Arial, Helvetica, sans-serif;  font-style: normal;  font-weight: bold;       font-size: 13px;  color: BLACK; }
.ContactGap		{ font-family: Arial, Helvetica, sans-serif;  font-size: 9px; }

.BodyLink  li					{ list-style-position: inside; }						/* Ensure bullets line up at margin (not outdented) */	
.BodyLink  li					{ margin-top: 5px; }											/* Ensure a small gap if multiple consecutive items */	

.home_POINTS	td	{ font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
											  font-size: 15px;  font-weight: bold;  font-style: normal;
											  color: BLACK;  text-decoration: none;  text-align: left;  vertical-align: middle; }


/* GENERAL DEFAULT FOR LINKS */
/* Link tags are order-dependent:  link, visited, hover, active */
a { }
a:link				{ color: #008000;  text-decoration: underline; }				/* Dark Green */
a:visited		{ color: #808040;  text-decoration: underline; }				/* Mossy Green */
a:hover		{ color: #75b775;    text-decoration: underline; }			/* Lighter Green */
a:active		{ color: GRAY; }																				/* Grey */
img				{ border-color: BLACK;   border: 2px solid BLACK; }		/* Always Black */


/* ON-PAGE LINKS */
/* Force on-page links to show as not visited */
.onpage	a	{ }	
.onpage	a:link			{ color: #008000;  text-decoration: underline; }		/* Dark Green */
.onpage	a:visited	{ color: #008000;  text-decoration: underline; }		/* Dark Green */
.onpage	a:hover	{ color: #75b775;    text-decoration: underline; }		/* Lighter Green */
.onpage	a:active	{ color: GRAY; }


/* MAIN CENTRAL BODY OF THE PAGE IS A TABLE */
table.menubody		{ width: 705px;  padding: 0px 0px 0px 0px; }				/* For the section beside the menu */
td.menubody			{ padding: 0px 0px 0px 20px;  vertical-align: top;  text-align: left; }	/* Let the width float */
table.mainbody		{ width: 675px;  padding: 0px 0px 0px 0px; }				/* For the section beyond (below) the menu */
td.mainbody				{ width: 675px;  padding: 0px 0px 0px 0px;  text-align: left; }


/*  DEFINE THE MENU BOX FOR ALL PAGES */
td.menubox				{ width: 95px;  border-style: none;  text-align: left;  color: #606060;
											vertical-align: top;  padding: 8px 12px 8px 12px;
											font-family: Arial, Helvetica, sans-serif;  font-style: normal;  font-weight: normal;  font-size: 11px;
											background-image: URL(HoopsieBkgnd_150x300.jpg);  background-position: top center;  background-repeat: no-repeat;
											background-color: #E9F3EB }
											/* #E9F3EB is main page bkgnd (disappears);  #5e2f4d is burgundy (for contrast) */ 
											/* #bfbdbb is good (dark greyish);  #e3e1e3 and #e4e2e4 are shades of hoopsie white */ 
											/* background-image: URL(HoopsieBkgnd_150x475.jpg);  background-position: top center;  background-repeat: no-repeat; */
											/* background-image: URL(HoopsieBkgnd_125x275.jpg);  background-position: top center;  background-repeat: no-repeat; */

.menutab			{ position: relative; left: 11px; }											/* Indent on menu-item second lines */
.menulead			{ font-family: Arial, Helvetica, sans-serif;  line-height: 7px; }		/* Lead-in at top of corporate menu */
.menugap			{ font-family: Arial, Helvetica, sans-serif;  line-height: 9px; }		/* Gap between corporate menu sections */
.menuleadGM	{ font-family: Arial, Helvetica, sans-serif;  line-height: 1px; }		/* Lead-in at top of Gina's menu */
.menugapGM	{ font-family: Arial, Helvetica, sans-serif;  line-height: 5px; }		/* Gap between Gina's menu sections */
.menuleadDP	{ font-family: Arial, Helvetica, sans-serif;  line-height: 4px; }		/* Lead-in at top of Dan's menu */
.menugapDP		{ font-family: Arial, Helvetica, sans-serif;  line-height: 15px; }	/* Gap between Dan's menu sections */
.menuboxDP		{ line-height: 150%; }																/* Expand the space between menu items */
.menuquote		{ font-family: Arial, Helvetica, sans-serif;  font-style: italic;  font-weight: normal;  font-size: 11px;  color: BLACK; }
.menubold			{ font-family: Arial, Helvetica, sans-serif;  font-style: italic;  font-weight: bold;      font-size: 12px;  color: GREEN; }
.menubolder		{ font-weight: bold; }

td.menubox  a { }
td.menubox  a:link			{ color: #5e2f4d;  text-decoration: none; }		/* Burgundy */
td.menubox  a:visited	{ color: #808040; text-decoration: none; }		/* Mossy Green */
td.menubox  a:hover	{ color: NAVY;      text-decoration: underline; }	/* Nice dark Navy Blue */
td.menubox  a:active	{ color: GRAY;      text-decoration: underline; }	/* Grey */
/*  END OF MENU BOX FOR ALL PAGES */


/*  DEFINE THE WEB SITE BOX FOR PRINCIPALS PAGES */
table.webbox		{ width: 600px;  border-style: none;  padding: 15px 15px 15px 15px;  background-color: WHITE; }
td.webbox				{ width: 390px;  border-style: none;  padding: 12px 12px 12px 12px;  vertical-align: middle;  text-align: left;  white-space: nowrap; }
td.webphoto			{ width: 210px;  border-style: none;  padding: 12px 12px 12px 12px;  vertical-align: middle; }
img.webphoto		{ width: 180px;  height: 290px;  border-style: none;  vertical-align: middle; }			/* Local height override (GM)  */



/* BIBLIOGRAPHY BLOCKS */
table.bibliobody		{ width: 655px;  padding: 0px 0px 0px 0px; }	/* For the section beyond (below) the menu */

.biblio		li		{ padding: 7px 0px 7px 0px; }											/* Set spacing between individual items */
.biblio2	li		{ padding: 0px 0px 0px 0px; }											/* No spacing between subordinate items */

.biblio				{ font-family: Arial, Helvetica, sans-serif;  font-size: 13px;  font-weight: normal;  font-style: normal;
								color: BLACK;  text-decoration: none;  text-align: left; }
.biblio 	a			{ font-weight: bold; }																/* Embedded links are bolded */

.biblio_TITLE				{ font-weight: bold; }													/* Title of the paper, presentation, etc */
.biblio_NAME				{ font-style: italic; }													/* Name of the publication, project, etc */
.biblio_BOOK				{ font-weight: bold;  font-style: italic; }				/* Book title */
.biblio_KEYNOTE		{ font-weight: bold;  font-style: italic; }				/* Keynote title */
.biblio_HIGHLIGHT	{ font-weight: bold;  font-style: italic; }				/* Various titles to be emphasized */
.biblio_AUTH				{ color: NAVY; }															/* Author names */
.biblio_READ				{ font-family: Albertus, Arial, Helvetica, sans-serif; font-size: 10px;  font-weight: normal;  font-style: normal;
											  color: BLACK;  text-decoration: none;  text-align: left;  line-height: 16px;  white-space: nowrap; }



/* WHITE HIGHLIGHT BOX */
table.highlight				{ width: 285px;  float: right;  border: 1px solid SILVER;  background: WHITE; }
table.highlightPAD		{ width: 18px;  float: right;  border: none;  background: none; }



/* TOP LINE MENU */
.topmenu						{ font-family: Arial, Helvetica, sans-serif;  text-align: right; 
											  font-size: 10px;  color: BLACK;  text-decoration: none;  font-weight: normal;  font-style: normal; }

/* Dual overlapping specs required for widest browser compatability */
.topmenu  hr					{ color: NAVY;  background-color: NAVY;  width: 705px;  text-align: center;  height: 5px; }

.topmenu  a					{ color: BLACK;  text-decoration: underline;  font-size: 10px; }
.topmenu  a:link			{ color: BLACK;  text-decoration: underline; }		/* Always Black */
.topmenu  a:visited	{ color: BLACK;  text-decoration: underline; }		/* Always Black */
.topmenu  a:hover		{ color: #ff8040;  text-decoration: underline; }		/* Pale Orange */
.topmenu  a:active		{ color: GRAY;    text-decoration: underline; }		/* Grey */


/* MENU BARS */
.menubar						{ font-family: Arial, Helvetica, sans-serif;  text-align: center;
											  font-size: 13px;  color: BLACK;  text-decoration: none;  font-weight: bold;  font-style: normal; }
.menubar_BIG				{ font-family: Arial, Helvetica, sans-serif;  text-align: center;
											  font-size: 16px;  color: BLACK;  text-decoration: none;  font-weight: bold;  font-style: normal; }


/* PROMPT LINK FOR TOP-OF-PAGE */
td.topper							{ width: 100px;  text-align: center; }						/* Center align allows even left-right range on some browsers */
.topper  li						{ list-style-type: SQUARE; }
.topper								{ font-family: Albertus, Arial, Helvetica, sans-serif;
											  font-size: 10px;  font-weight: bold;  font-style: normal;
											  color: BLACK;  text-decoration: none; }
.topper  a						{ color: BLACK;  text-decoration: none; }			/* Always Black */
.topper  a:link				{ color: BLACK;  text-decoration: none; }			/* Always Black */
.topper  a:visited		{ color: BLACK;  text-decoration: none; }			/* Always Black */
.topper  a:hover			{ color: #ff8040; text-decoration: underline; }			/* Pale Orange on hover only! */
.topper  a:active			{ color: BLACK;  text-decoration: underline; }			/* Always Black */

table.topper					{ margin-top: -15px; }													/* Adjust (reduce) spacing of last TOP item (at end of page) */
table.xtopper				{ margin-top:    0px; }													/* Disable adjustment (let it fall naturally) */


/* CONTACT PAGES - BACKGROUND IMAGE */
.contact_panel				{ height: 271px;  vertical-align: middle;  text-align: center; 
											  background-image: URL(ContactBkgnd_330x300.jpg);  background-position: 64px 0px;  background-repeat: no-repeat; }
.contact_panelPM		{ height: 271px;  vertical-align: middle;  text-align: center; 
											  background-image: URL(ContactBkgnd_465x350.jpg);  background-position: 58px 0px;  background-repeat: no-repeat; }



/* COPYRIGHT NOTICE BLOCK */
#copyright		{ font-family: Arial, Helvetica, sans-serif;  text-align: center;
							  font-size: 10px;  text-decoration: none;  font-weight: normal;  font-style: normal;  color: BLACK; }

#copyright  p					{ text-align: center; }
#copyright  a					{ color: BLACK;	  text-decoration: underline;  font-size: 10px;  font-weight: bold; }
#copyright  a:link			{ color: #008000;  text-decoration: underline; }	/* Dark Green */
#copyright  a:visited	{ color: #008000;  text-decoration: underline; }	/* Dark Green */
#copyright  a:hover		{ color: #75b775;    text-decoration: underline; }	/* Lighter Green */
#copyright  a:active		{ color: GRAY; }														/* Grey */

hr.bottom 							{ color: BLACK;  width: 705px;  text-align: center;  height: 1px; }

#arachno_logo				{ width: 45px;  height: 36px;  border: none;  margin: 4px 0px 10px 0px; }



/* Display HR in the centre  (Doesn't seem to align properly in MSIE8 - always goes left) */
table.hr			{ width: 100%;  border: none;   text-align: center; }		/* Table for centering HR */
td.hr					{ width: 527px; }																			/* Centre TD containing the HR */
.hr_td				{ width: 89px; }																			/* Pair of TDs to bookend the HR in the centre TD */
.hr_td  hr			{ color: BLACK; }


.IYF_Logo		{ width:100px;  height:120px;  border:none; }				/* UN International Year of Forests - 2011 */


/* HIDE CALIBRATION DISPLAYS - Activate for testing purposes */
hr.calibration  	{ color:RED;  width:725px;  text-align:center;  display:none; }

/* HIDE COUNTERS */
/* img.counters	{ height:0px;  width:0px;  border-style:none;  display:none; } */
img.counters		{ height:1px;  width:1px;  border-style:none; }


/* END OF STANDARD STYLE SHEET FOR P&M TECHNOLOGIES */
