/*BGT*/

@media screen and (max-width: 400px) {

	table.PageDef{
		width: 100% !important;
	}

	td.PageDef{
		width: 100% !important;
	}

	.topmenu hr{
		width: 100% !important;
	}

	img.masthead_main{
		width: 100% !important;
	}

	table.PageDef {
    width: 100% !important;
	}

	table.masthead {
    width: 100% !important;
	}

	td.masthead {
    width: 100% !important;
	}

	img.masthead_main {
    width: 100% !important;
    height: auto !important;
	}

	td.home_photobanner {
    display: block !important;
    width: 100% !important;
	}

	img.home_photobanner {
    width: 100% !important;
    height: auto !important;
	}

	img.photobanner {
        width: 42% !important;
    height: auto !important;
    margin: 6px 9px 6px 8px !important;
    float: left !important;
	}

	table.menubody{
		width: 100% !important;
	}

	td.menubox{
		width: 100% !important;
		display: block !important;
		text-align: center !important;
		padding: 0 !important;
    padding-bottom: 20px !important;
	}

	td.menubody{
		display: block !important;
		padding: 0 !important;
	}

	table.mainbody{
		width: 100% !important;
	}

	.TitleText{
		text-align: center !important;
		display: block !important;
	}

	table.highlight{
		margin-bottom: 20px !important;
	}

	table.photobanner{
		width: 100% !important;
	}

	.contact_panelPM{
		display: block !important;
		height: 150px !important;
	}

	.PageTitle{
		text-align: center !important;
		display: block !important;
		float: left !important;
		font-size: 10px !important;
	}

	table.highlight{
		width: 93% !important;
		float: left !important;		
	}

	.menubar_BIG a{
		display: block !important;
	}

	.ContactText{
		font-size: 9px !important;
		text-align: left !important;
	}

	table.menubody td{
		padding-left: 0 !important;
	}

	table.webbox{
		width: 100% !important;
	}

	td.webphoto{
		width: 100% !important;
		display: block !important;
		padding: 0 !important;
	}
	
	td.webbox{
		width: 100% !important;
		display: block !important;
	}

	img.webphoto{
		width: 100% !important;
		height: auto !important;
	}

	img.masthead_mainDP{
		width: 100% !important;
		height: auto !important;
	}

	td.mastheadDP{
		width: 100% !important;
	}

	.home_POINTS{
		display: block !important;
	}

	.menubar a{
		display: block !important;
		float: left !important;
		width: 100% !important;
	}

	.BodyLink{
		    /*margin-left: -45px;*/
    display: block !important;
	}

	table.bibliobody{
		width: 100% !important;
	}

	table.bibliobody td{
		width: 100% !important;
		display: block;
	}

	table.masthead a {
	    font-size: 12px!important;
	}

	.menubar{
		height: 200px;
		width: 100%;
		display: block;
		overflow-x: hidden;
	}

	.BodyText table{
		width: 100% !important;
	}

	.BodyText table td{
		padding-left: 0 !important;
	}

	.contact_panel{
		width: 50%;
		padding: 0;
	}

	.ContactSub{
		font-size: 8px;
	}

	.ContactName{
		font-size: 14px;
	}

	.biblio_COVER{
		width: 70% !important;
		display: block;
	}

	.biblio_COVER img{
		width: 100% !important;
	}

	.biblio{
		display: block;
	}

	.BodyText{
		width: 100%;
	}

	table.photobanner td table{
		width: 100% !important;
	}

	img.SamplePage{
		width: 45% !important;
		float: left;
		margin-right: 7px;
		display: block;
	}

	table.MAY{
		width: 100% !important;
	}

	div.elements img{
		width: 50% !important;
		height: auto;
	}

	div.mainbody img{
		width: 100% !important;
		height: auto !important;
	}

	div.mainbody > .elements{
		    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin: 0 auto !important;
	}

	div.mainbody > .elements li{
		padding-left: 15px;
	}

	div.mainbody{
		width: 100% !important;
	}

	.headinfo{
		width: 100% !important;
		display: block;
    float: left;
	}



	.menubody img{
		width: 80% !important;
	}

	.menubar_BIG{
		font-size: 10px;
	}

	td.mainbody{
		width: 100%!important;
	}

	img.masthead_mainGM{
		width: 100%;
		height: auto;
	}

	td.webbox li a{
		font-size: 10px;
		white-space: pre-line !important;
	}
	.biblio li  span{
		font-size: 10px;
		white-space: pre-line !important;
	}

	.biblio div{
		display: none;
	}

	.biblio_TITLE{
		white-space: pre-line;
    	font-size: 11px;
	}

	td.topper{

	}

	.biblio_COMMENT, .biblio_READ{
		white-space: normal !important;
	}

}


@media screen (min-width: 400px) and (max-width: 780px) {

	table.PageDef{
		width: 100%;	
	}

	td.PageDef{
		width: 100%;	
	}

	.topmenu hr{
		width: 100%;	
	}

	td.home_photobanner{
		display: block;	
		width: 100%;
		margin-bottom: 10px;	
	}

	img.home_photobanner{
		width: 100%;
		display: block;
		height: auto;	
	}

	table.masthead{
		width: 100%;	
	}

	td.masthead{
		width: 100%;	
	}

	img.masthead_main{
		width: 100%;
		height: auto;		
	}

	img.photobanner{

	}
	
	table.menubody{
		width: 100%;	
	}

	td.menubox{
		display: block;	
		width: 100%;
		text-align: center;		
	}

	td.menubody{
		    display: block;
    padding: 0px 0px 0px 20px;
	}

	table.photobanner{
		width: 100%;	
	}

	.PageTitle{
		display: block;	
		float: left;
		font-size: 20px;	
	}

	td.menubox{
		background-color: transparent;
		-webkit-background-size: contain;
		background-size: contain;
	}

	td.menubox a{
		font-size: 20px;
	}

	td.menubox span{
		font-size: 16px;
	}


	.BodyText{
		font-size: 20px;
	}

	.BodyLink{
		font-size: 16px;
	}

	.SiteText{
		font-size: 16px !important;
	}
	
	.SiteText li{
		line-height: 2;
	}

	#copyright{
		font-size: 18px;
	}

	#copyright a{
		font-size: 14px;
	}

	.career_SUB{
		font-size: 16px !important;
	}

	.career_MAIN{
		font-size: 20px !important;
	}

	.menubar{
		font-size: 15px;
	}

	.biblio{
		font-size: 18px;
	}

	table.masthead a{
		font-size: 16px!important;
	}

}