/*BGT*/

@media screen and (max-width: 400px) {

	td.PageDef{
		width: 100%;
	}

	.topmenu hr{
		width: 100%;
	}

	img.masthead_main{
		width: 100%;
	}

	table.PageDef {
    width: 100%;
	}

	table.masthead {
    width: 100%;
	}

	td.masthead {
    width: 100%;
	}

	img.masthead_main {
    width: 100%;
    height: auto;
	}

	td.home_photobanner {
    display: block;
    width: 100%;
	}

	img.home_photobanner {
    width: 100%;
    height: auto;
	}

	img.photobanner {
        width: 42%;
    height: auto;
    margin: 6px 0px 6px 6px;
    float: left;
	}

	table.menubody{
		width: 100% !important;
	}

	td.menubox{
		width: 100%;
		display: block;
		text-align: center;
		padding: 0;
    padding-bottom: 20px;
	}

	td.menubody{
		display: block;
		padding: 0 !important;
	}

	table.mainbody{
		width: 100%;
	}

	.TitleText{
		text-align: center;
		display: block;
	}

	table.highlight{
		margin-bottom: 20px !important;
	}

	table.photobanner{
		width: 100%;
	}

	.contact_panelPM{
		display: block;
		height: 150px;
	}

	.PageTitle{
		text-align: center;
		display: block;
		float: left;
	}

	table.highlight{
		width: 93%;
		float: left;		
	}

	.menubar_BIG a{
		display: block;
	}

	.ContactText{
		font-size: 9px;
		text-align: left !important;
	}

	table.menubody td{
		padding-left: 0 !important;
	}

	table.webbox{
		width: 100%;
	}

	td.webphoto{
		width: 100%;
		display: block;
		padding: 0;
	}
	
	td.webbox{
		width: 100%;
		display: block;
	}

	img.webphoto{
		width: 100%;
		height: auto;
	}

}


@media screen and (max-width: 780px) {

	table.PageDef{
		width: 100%;	
	}

	td.PageDef{
		width: 100%;	
	}

	.topmenu hr{
		width: 100%;	
	}

	td.home_photobanner{
		display: block;	
		width: 100%;	
	}

	img.home_photobanner{
		width: 100%;
		display: block;
		height: auto;	
	}

	table.masthead{
		width: 100%;	
	}

	td.masthead{
		width: 100%;	
	}

	img.masthead_main{
		width: 100%;
		height: auto;		
	}

	img.photobanner{

	}
	
	table.menubody{
		width: 100%;	
	}

	td.menubox{
		display: block;	
		width: 100%;
		text-align: center;		
	}

	td.menubody{
		    display: block;
    padding: 0px 0px 0px 20px;
	}

	table.photobanner{
		width: 100%;	
	}

	.PageTitle{
		display: block;	
		float: left;
		font-size: 20px;	
	}

	td.menubox{
		background-color: transparent;
	}

}