


/*BGT index*/


@media only screen and (min-width: 900px) and (max-width: 1200px){

	#masthead td{
		position: relative;
		width: 80% !important;
		margin: 0 auto !important;
		float: none !important;
	}

}

@media only screen and (min-width: 320px) and (max-width: 700px) {
	
	#masthead td {
		width: 100% !important;
	}

	#masthead td img{
		position: relative;
		width: 100% !important;
		margin: 0 auto !important;
		float: none !important;
		height: auto;
	}

}


@media only screen and (min-width: 700px) and (max-width: 1200px) {
	
	#masthead td {
		width: 100% !important;
	}

	#masthead td img{
		position: relative;
		width: 100% !important;
		margin: 0 auto !important;
		float: none !important;
	}

}