


/*BGT index*/


@media only screen and (min-width: 900px) and (max-width: 1200px){

	#masthead>table>tbody>tr>td{
		float: none;
		display: table-cell;
	}

}

@media only screen and (min-width: 320px) and (max-width: 900px) {
	#masthead>table>tbody>tr>td{
		float: none;
		display: table-cell;
	}
	

}


@media only screen and (min-width: 700px) and (max-width: 1200px) {
	
	

}